body {
  background-image: url("https://cdn.glitch.global/2d314d96-5201-491d-ac70-4515d0bb864d/nature.jpeg?v=1685691270370");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.example {
  text-align: center;
}
